.window{
	-fx-border-color:#000;
}

.transparent{
	-fx-background-color:transparent;
}
.top{
	-fx-background-color: #fff;
	-fx-border-color:#000;
	-fx-border-width:0px 0px 1px 0px;
}
.top_button{
	-fx-background-color:transparent;
	-fx-cursor:hand;
}
.top_button:hover{
	-fx-background-color: #d7dbd8;
}
.nav_bar{
	-fx-background-color: #fff;
}
.nav_bar .nav_btn{
	-fx-background-color:transparent;
	-fx-cursor:hand;
}
.nav_bar .profile_setting{
	-fx-background-color:#c7c9c8;
	-fx-background-radius: 50%;
	-fx-cursor:hand;
	-fx-border-color: #000;
	-fx-border-radius:50%;
	-fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0)
}
.shadow{
	-fx-effect:dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0)
}
.head{
	-fx-background-color: #fff;
	-fx-background-radius:8px;
	-fx-border-color:#000;
	-fx-border-width:1px 1px 1px 1px;
	-fx-border-radius:8px;
}
.head .profile{
	-fx-background-color:transparent;
	-fx-cursor:hand;
}
.head .profile:hover{
	-fx-background-color: #d7dbd8;
}
.white-bg{
	-fx-background-color: #fff;
	-fx-background-radius: 8px;	
}

.style_bg{
	-fx-background-color: #fff;
	-fx-background-radius: 8px;
	-fx-border-color: #000000;
	-fx-border-radius: 8px;
	-fx-border-width: 1px;
}

.bg{
	-fx-background-color: #c7c9c8;
}
.stocks{
	-fx-background-color:#fff;
	-fx-background-radius:10px;
}
.products{
	-fx-background-color:#dbf5d5;
	-fx-background-radius:10px;
}
.customers{
	-fx-background-color:#a3b3b5;
	-fx-background-radius:10px;	
}
.employees{
	-fx-background-color:#3d7cb3;
	-fx-background-radius:10px;		
}
.search{
	-fx-background-color:#fff;
	-fx-background-radius:12px;
}
/*Login Page Style*/
.login_bg{
	-fx-background-color: #cef0f2;
}
.usernameBtn{
	-fx-background-color: transparent;
	-fx-border-color: #a6e8ed;
	-fx-border-width: 0px 0px 2px 0px;
}
.login_btn{
	-fx-background-color: #fff;
	-fx-background-radius: 10px;
	-fx-border-color: #a6e8ed;
	-fx-border-radius:10px;
	-fx-cursor:hand;
}
.close{
	-fx-cursor:hand;
}